/* ------------------------ apply across all pages ------------------------ */
*
{
  font-family: serif, Times New Roman, Georgia;
  color: black;
  text-align: center;
  box-sizing: border-box;
}
body
{
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3
{
  font-family: "Dream Avenue", serif;
}

html
{
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* website logo styling */
.site-logo
{
  width: 10%;
  height: auto;
}
