.hero
{
  padding-top: 5%;
  padding-bottom: 5%
  }

  .photo-grid {
  column-count: 4;
  column-gap: 15px;
  max-width: 90%;
  margin: auto;
}

.photo-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
  cursor: pointer;
}

.photo-item img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.photo-item:hover img {
  transform: scale(1.03);
}

.caption {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
}

.extra {
  display: none;
}

.extra.show {
  display: inline-block;
}

/* responsive */
@media (max-width: 1200px) {
  .photo-grid {
    column-count: 3;
  }
}

@media (max-width: 900px) {
  .photo-grid {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .photo-grid {
    column-count: 1;
  }
}
#toggleBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

#toggleBtn:hover {
  background: #333;
}



/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
}

.hidden { display: none; }

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
